<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>Add a new recipient area:</h1>


<form method="POST" action="/add_r_area_action">
  Recipient area name: <input type="text" name="name" required>
  <br> 
  <br> 

  Region:
  <select name="region" required>
  <option value="">None</option>
  <option value="Africa">Africa</option>
  <option value="Asia">Asia</option>
  <option value="Latin America and the Caribbean">Latin America and the Caribbean</option>
  <option value="Central and Eastern Europe">Central and Eastern Europe</option>
  <option value="The Pacific">The Pacific</option>
  <option value="Middle East">Middle East</option>
  <option value="Other">Other</option>
  </select>
  <br> 
  <br> 
  If other: <input type="text" name="other">
  <br>
  <br>  
  <input type="submit">
</form>

<br>

<a href="/">Go to home page</a><br>
<a href="/mainsearch">Go to main search page</a><br>
<a href="/add_agency">Add a new agency</a><br>
<a href="/add_project">Add a new project</a><br>
<a href="/add_person">Add a new contact person</a><br>
<a href="/search_id">Look up IDs for addition</a><br>

</body>


</html>
