<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>Success!</h1>
  The id for the contact person you added is: <br><br>
  <font color="red">{{ data }} <br><br>
  <font color="black">Please write it down for further references.<br><br><br><br><br><br> 

<br>
<a href="/add_person">Add another contact person</a><br>
<a href="/">Go to home page</a><br>
<a href="/mainsearch">Go to main search page</a><br>
<a href="/add_agency">Add a new agency</a><br>
<a href="/add_project">Add a new project</a><br>
<a href="/add_r_area">Add a new recipient area</a><br>
<a href="/search_id">Look up IDs for addition</a><br>

</body>


</html>
