<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>Add a new contact person:</h1>


<form method="POST" action="/add_person_action">
  
  Person name (and contact info): <input type="text" name="name" size="50" required>
  <br> 
  <br> 


  <input type="submit">
</form>

<br>
<a href="/">Go to home page</a><br>
<a href="/mainsearch">Go to main search page</a><br>
<a href="/add_agency">Add a new agency</a><br>
<a href="/add_project">Add a new project</a><br>
<a href="/add_r_area">Add a new recipient area</a><br>
<a href="/search_id">Look up IDs for addition</a><br>

</body>


</html>
