<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>Global Chinese Official Finance Dataset</h1>
<p>The dataset captures the known universe of officially-financed Chinese projects in 5 regions of the world from 2000-2014
(including Africa, the Middle East, Asia and the Pacific, Latin America and the Caribbean, and Central and Eastern Europe).
</p>
<p><i>Source: AidData’s Tracking Underreported Financial Flows</i></p>

<br>

<a href="/mainsearch">Go to main search page</a><br>
<a href="/add_agency">Add a new agency</a><br>
<a href="/add_project">Add a new project</a><br>
<a href="/add_r_area">Add a new recipient area</a><br>
<a href="/add_person">Add a new contact person</a><br>
<a href="/search_id">Look up IDs for addition</a><br>

</body>


</html>
