<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h2>Search entire database by project, year, aid type, intent type, or recipient:</h1><br><br>
  

<form method="POST" action="/mainsearch_action">
  Search by project ID: <input type="text" name="project_id" pattern="[0-9, ]*" title="only numbers allowed">
  <br> 
  
  Search by project name: <input type="text" name="project_name">
  <br> 
  
  Search by funding or implementing agency name: <input type="text" name="fi_agency">
  <br> 
  
  Search by year (From 2000-2014): <input type="text" name="year" pattern="[0-9, ]*" title="only numbers allowed">
  <br>
  
  Search by recipient agency: <input type="text" name="r_agency">
  <br>
  
  Search by recipient region:
  <select name="region">
  <option value="Any">Any</option>
  <option value="Africa">Africa</option>
  <option value="Asia">Asia</option>
  <option value="Latin America and the Caribbean">Latin America and the Caribbean</option>
  <option value="Central and Eastern Europe">Central and Eastern Europe</option>
  <option value="The Pacific">The Pacific</option>
  <option value="Middle East">Middle East</option>
  <option value="Other">Other</option>
  </select>
  <br> 
  
  Search by contact person: <input type="text" name="contact">
  <br>

  Search by aid type:
  <select name="aidtype">
  <option value="Any">Any</option>
  <option value="Free-standing technical assistance">Free-standing technical assistance</option>
  <option value="Loan (excluding debt rescheduling)">Loan (excluding debt rescheduling)</option>
  <option value="Grant">Grant</option>
  <option value="Debt forgiveness">Debt forgiveness</option>
  <option value="Vague TBD">Vague TBD</option>
  <option value="Scholarships/training in the donor country">Scholarships/training in the donor country</option>
  <option value="Strategic/Supplier Credit">Strategic/Supplier Credit</option>
  <option value="Export credits">Export credits</option>
  <option value="Debt rescheduling">Debt rescheduling</option>
  <option value="">None</option>
  </select>
  <br>
  
  Search by intent type:
  <select name="intenttype">
  <option value="Any">Any</option>
  <option value="Development">Development</option>
  <option value="Commercial">Commercial</option>
  <option value="Mixed">Mixed</option>
  <option value="Representational">Representational</option>
  <option value="">None</option>
  </select>
  <br>
  
  <input type="submit">
</form>


<br>

<a href="/">Go to home page</a><br>
<a href="/add_agency">Add a new agency</a><br>
<a href="/add_project">Add a new project</a><br>
<a href="/add_r_area">Add a new recipient area</a><br>
<a href="/add_person">Add a new contact person</a><br>
<a href="/search_id">Look up IDs for addition</a><br>


</body>

</html>
