<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h2>Search for ids of existing agencies, contact persons, and recipient areas:</h1><br><br>
  

<form method="POST" action="/search_id_action">
  Search for agency:<br>
  Agency Name: <input type="text" name="agency">
  <br> 
  <br> 

  Search for contect person:<br>
  Contact Person Name: <input type="text" name="person">
  <br> 
  <br> 

  Search for Recipient Areas:<br>
  Area Name: <input type="text" name="area"><br>
  Region:  <input type="text" name="region"><br>

  <br> 
  <br> 
  <input type="submit">
</form>


<a href="/">Go to main page</a><br>
<a href="/add_project">Add a project</a><br>


</body>


</html>
