<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h2>Search for IDs of existing agencies, contact persons, and recipient areas:</h1><br><br>
  

<form method="POST" action="/search_id_action">
  Search for agency:<br>
  Agency name: <input type="text" name="agency">
  <br> 
  <br> 

  Search for contact person:<br>
  Contact person name: <input type="text" name="person">
  <br> 
  <br> 

  Search for recipient area:<br>
  Area name: <input type="text" name="area"><br>
  Region:  <input type="text" name="region"><br>

  <br> 
  <br> 
  <input type="submit">
</form>


<br>
<a href="/">Go to home page</a><br>
<a href="/mainsearch">Go to main search page</a><br>
<a href="/add_agency">Add a new agency</a><br>
<a href="/add_project">Add a new project</a><br>
<a href="/add_r_area">Add a new recipient area</a><br>
<a href="/add_person">Add a new contact person</a><br>



</body>


</html>
